<%- layout('./layout/boilerplate.ejs') %>
    <section
        class="bg-green-100 bg-opacity-30 backdrop-blur-md min-h-screen flex flex-col items-center justify-center text-gray-700">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-4 text-green-600">Cart is Empty</h1>
            <p class="text-2xl text-white font-bold mb-8">Looks like you haven’t added anything to your cart yet.</p>
            <a href="/#products">
                <button
                    class="bg-green-600 hover:bg-green-700 text-white py-3 px-8 rounded-lg shadow-lg shadow-green-500/50 transition duration-300 transform hover:scale-105">
                    Go for Shopping
                </button>
            </a>
        </div>
    </section>